<!DOCTYPE html>
<html>
  <head>
    <title>Welcome page</title>
    <link rel="stylesheet" type="text/css" href="https://hunter2labs.s3.amazonaws.com/common.css">
    <script src='https://hunter2labs.s3.amazonaws.com/common.js'></script>
  </head>
  <body>
    <form method="post">
      <input type="text" name='search'>
      <button type="submit">Search employees</button>
    </form><br />
    {{ if .Employees }}
      <h3>Employees:</h3>
      <table>
        <thead>
          <tr></tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Date of Birth</th>
            <th>Salary</th>
        <tbody>
        {{ range .Employees }}
          <tr>
            <td>{{ .Name }}</td>
            <td>{{ .Email }}</td>
            <td>{{ .Phone }}</td>
            <td>[redacted]</td>
            <td>[redacted]</td>
          </tr>
        {{ end }}
        </tbody>
      </table>
    {{ end }}
  </body>
</html>